
.DS_Store
.ipynb_checkpoints/avocado-checkpoint.csv
.ipynb_checkpoints/flumepostpython-checkpoint.ipynb
.ipynb_checkpoints/flumeTutorial-checkpoint.ipynb
.ipynb_checkpoints/hadoopTutorial-checkpoint.ipynb
.ipynb_checkpoints/hiveTutorial-checkpoint.ipynb
.ipynb_checkpoints/mapper-checkpoint.py
.ipynb_checkpoints/mappercsv-checkpoint.py
.ipynb_checkpoints/pandasTutorialBigData-checkpoint.ipynb
.ipynb_checkpoints/pigTutorial-checkpoint.ipynb
.ipynb_checkpoints/pysparkClustering-checkpoint.ipynb
.ipynb_checkpoints/PysparkDecisionTreeRegression-checkpoint.ipynb
.ipynb_checkpoints/pysparkDiscretization-checkpoint.ipynb
.ipynb_checkpoints/PysparkLinearSVC-checkpoint.ipynb
.ipynb_checkpoints/pysparkML-checkpoint.ipynb
.ipynb_checkpoints/pysparktext-checkpoint.ipynb
.ipynb_checkpoints/pysparkTutorial-checkpoint.ipynb
.ipynb_checkpoints/reducer-checkpoint.py
.ipynb_checkpoints/sqoopTutorial-checkpoint.ipynb
.ipynb_checkpoints/testquerycsv-edit-checkpoint.sql
.ipynb_checkpoints/untitled-checkpoint.txt
avocado.csv
data/.ipynb_checkpoints/1667858185393-1-checkpoint
data/.ipynb_checkpoints/1667858215717-1-checkpoint
data/.ipynb_checkpoints/1667858215717-2-checkpoint
data/.ipynb_checkpoints/1667858215717-3-checkpoint
data/.ipynb_checkpoints/1667858949987-1-checkpoint
data/.ipynb_checkpoints/1667858949987-2-checkpoint
data/.ipynb_checkpoints/1667866936210-1-checkpoint
data/.ipynb_checkpoints/1667866936210-2-checkpoint
data/.ipynb_checkpoints/1667866936210-5-checkpoint
data/.ipynb_checkpoints/1667866936210-6-checkpoint
data/.ipynb_checkpoints/1667953554383-4-checkpoint
data/.ipynb_checkpoints/1667953554383-5-checkpoint
data/.ipynb_checkpoints/1667953554383-6-checkpoint
data/.ipynb_checkpoints/articles-checkpoint.csv
data/articles.csv
data/loremipsum.txt
data/pg20417.txt
